<article class="scu-main-page">
  <header class="scu-main-page__header">
    <span class="scu-title scu-title--big">
      {{ title }}
    </span>
  </header>

  <main>
    <section class="scu-main-page__text-container">
      <article>
        <header class="scu-main-page__title-container">
          <span class="scu-title scu-title--middle">
            Comment
          </span>
        </header>

        <div class="scu-content-box"
             spuSpellCheck
             (showSuggestionsOptions)="showSuggestionsOptions($event)">
        </div>
      </article>
    </section>
  </main>
</article>

<article class="scu-content-box__suggestions"
         #suggestionMenu>
  <ul>
    <li *ngFor="let suggestion of suggestions">
      {{suggestion}}
    </li>
  </ul>
</article>
