
textarea {
  resize: none;
  width: calc(100% - 2em - 4px);
  margin: 0.5em 1em;
}

main {
  width: 30%;
  text-align: center;
}

.scu-main-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.scu-main-page__title-container {
  text-align: left;
}

.scu-main-page__header {
  text-align: center
}

.scu-content-box {
  width: calc(100% - 2em - 4px);
  min-height: 200px;

  padding: 2px;
  margin: 0.5em 1em;
  border: 1px solid grey;
  border-radius: 4px;
  text-align: initial;
}

.scu-content-box__word--red-wiggle {
  background: url(https://www.phpied.com/images/underline.gif) bottom repeat-x;
}

.scu-content-box__suggestions {
  display: block;
  visibility: hidden;
  position: absolute;
}

.scu-content-box__suggestions ul {
  min-width: 100px;
  max-width: 170px;
  box-shadow: 0 3px 5px #bbb;
  cursor: default;
  border: 1px solid #000;
  margin: 0;
  padding: 5px;
  list-style-type: none;
  font-size: 10px;
  background-color: #fff;
  color: #111;
}
