
*, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body {
  padding: 0;
  margin: 0;
}

.scu-title {
  font-family: 'Quicksand', sans-serif;
}

.scu-title--big {
  display: inline-block;
  font-size: 44px;
  margin: 1em;
}

.scu-title--middle {
  display: inline-block;
  font-size: 22px;
  margin: 0.5em;
}
